.About{
    box-sizing: inherit;
    box-sizing: border-box;
}
.About .h2{
    text-align:center;
}
.About .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .About  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    text-align: center;
  }

  
  .About .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .About .container {
    padding: 0 16px;
    color: #000;
    height: 15rem;
  }
  
  .About .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .About .title {
    color: grey;
  }
  
  .About .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .About .button:hover {
    background-color: #555;
  }
  
 @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display:inline;
    }
  }